*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
img{
    width: 100%;
    border-radius: 5px;
}




/* header */

 h1 {
    
   text-align: center;
   text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin: auto;

}

/* adultos */


 .contenedor-productos{

    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
    column-gap:5px;


}

.carta {
    
    border: solid .5px grey;
    border-radius: 5px;
    text-align: center;
}

.añadir{
    border: none;
    padding: 3px;
    font-weight: bold;
}



/* niños */



/* sucursales */

.map-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
    
} 

iframe{
    border-radius: 10px;
    box-shadow: 3px 3px grey;
}


/* footer */

footer {
    text-align: center;
    
}
