*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}









/* header */

 h1 {
    
   text-align: center;
   text-decoration: underline;
}



nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin: auto;

}

/* Contenido (adultos/niños) main */

section.productos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 15px;
    
    
}

.carta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.5);
    transition: all .5s;

}

.carta:hover {

    transform: translateY(-3%);
    box-shadow: 3px 3px  rgba(0,0,0,0.5) ;

}

img {
    width: 100%;

    
    
}

.info-product{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 1em;

    
}

h3 {
    font-size: 1em;
}

@media (max-width:500px)
{
  
    section.productos{
        grid-template-columns: auto;
    }

    .carta{
        width: 50%;
        margin: 0 auto;
    }

    .info-product h3{
        display: none;

    }

}



/* sucursales */

.map-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
    
} 

iframe{
    border-radius: 10px;
    box-shadow: 3px 3px grey;
}


/* footer */

footer {
    text-align: center;
    bottom: 0;
    
}
