main {
    .productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
       
       

    
    }



}



     main {
        .productos {
           @media (max-width:500px) {
            grid-template-columns: 1fr;
            
           }
        }
        
        
        .carta {
            @media (max-width: 500px) {
                width: 50%;
            }
        }
     }


